<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- No permissions: head tracking uses the stock game-rotation sensor, sound is bundled or synthesised. -->
    <uses-feature android:glEsVersion="0x00030000" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.X3Knockout">

        <meta-data
            android:name="com.rayneo.mercury.app"
            android:value="true" />

        <!-- No ar_mode: it restricts rendering to the left lens (guide gotcha #3). -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="density|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.rayneo.intent.category.AR_APP" />
            </intent-filter>
        </activity>
    </application>
</manifest>
